# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 73112df521b5fa1268fa578d1442e403975c547837b1327b942343fbbb8c3fcdf8c4bf866a248c7047e8c84022da7245d90e97349f643ae8edf34e48b72d3e49

test:
  secret_key_base: 5f0d73f9844c0671644793478af581ba64c02e500b302f6a4630123ac60083ff20710638eeeef604bb6655ff1bdb99ed869f85ef16b48969431dfac48c5ae104

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
